<?xml version="1.0"?>
<configuration>
   <appSettings>
    <add key="Arena.Seed" value="17"/>
    <add key="Arena.K" value="30"/>
    <add key="Arena.DataFile" value="*\CloudBall\Arena\Arena.xml"/>
    <add key="Arena.RankingsFile" value="*\CloudBall\Arena\Arena.Rankings.txt"/>
    <add key="Arena.EngineDirectory" value="*\CloudBall\Arena\Engines"/>
    <add key="Arena.ReplayDirectory" value="*\CloudBall\Arena\Replays"/>
    <add key="Arena.FileSystemWatcherIsEnabled" value="true"/>
  </appSettings>
</configuration>
